@require 'mixins'

.goods-slider
  position relative
  .goods-slider-title
    z-index 2
    position relative
    max-width 1000px
    margin auto 
    background: linear-gradient(to right, rgba(32,189,169,1) 0%,rgba(32,189,169,1) 20%,rgba(32,189,169,0) 20%,rgba(32,189,169,0) 50%,rgba(32,189,169,1) 50%,rgba(32,189,169,1) 70%,rgba(32,189,169,0) 70%,rgba(32,189,169,0) 100%)
    background-position 0 100%
    background-size 10px 2px
    background-repeat repeat-x
    text-align center
    line-height 48px
    font-size 40px
    padding 16px 0 
    text-transform uppercase
    margin 0 auto 15px
    letter-spacing 6px 
    font-family "GothamPro Bold", Helvetica, Arial, sans-serif
    .catalog
      position absolute
      font-size 12px
      line-height 18px
      font-family  "GothamPro", Helvetica, Arial, sans-serif
      letter-spacing normal
      text-transform none
      color #000
      text-decoration none 
      right 15px
      bottom 10px
      &:hover
        text-decoration underline
  .goods-slider-text
    z-index 2
    position relative
    text-align center
    font-family "PFDinTextPro", Helvetica, Arial, sans-serif
    font-size 12px
    line-height 15px
    color #646464
    width 280px
    margin auto
    
@media (max-width: 750px)
  .goods-slider
    .goods-slider-title
      .catalog
        margin-top 20px
        display block
        white-space nowrap
        position relative
        right 0
        bottom 0
